*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

.active {
    text-decoration: none;
    color: #efefef;
    padding: 0px 8px;
}
.active:visited {
    text-decoration: none;
    color: #efefef
}
.links {
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0px;
}
.copyright {
    align-self: center;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7); 
    padding: 0;
    margin: 0px;
}

.main {
    color:#2a2a2d;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-logo {
    margin: 20px;
    width: 80%;
    max-width: 500px;
    height: auto;
}

.selection-logo {
    margin: 20px;
    width: 80%;
    max-width: 500px;
    height: auto;
}

body {
    font-family: 'Noto Sans TC', sans-serif;;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(145deg, #041B2D, #004E9A, #428CD4, #FF9CDA, #EA4492);
    background-size: 300%;
    animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

header {
    margin: 0 auto;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.footer ul {
    list-style: none;
}

.lets-begin, .play-game {
    background-color: #428CD4;
    border-radius: 50px;
    font-size: medium;
    color: #efefef;
    padding-left: 23px;
    padding-right: 23px;
    padding: 13px 23px 13px 23px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

#lets-begin:visited {
    color: #efefef; 
}

.selection {
    background-color: #efefef;
    opacity: .7;
    margin: 10 auto;
    padding: 16px;
    border-radius: 15px;
    max-width: 80%;
}

.gamescreen-wrapper {
    height: 100%;
    min-height: 100vh;
}

.selection-wrapper{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10 auto;
}
.selection-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.play-game{
    text-align: center;
    /* border: 1px solid green; */
    text-decoration: none;
    margin-top: 13px;
}

.btn {
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

.answer {
    background-color: #efefef;

}

.question {
    background-color: #efefef;
    width: 100%;
    margin: 23px auto 0;
    max-width: 320px;
    border: none;
    border-radius: 6px;
    padding: 8px;}

.selected {
    border: 2px solid rgb(101, 24, 227);
    background-color: rgb(14, 151, 255);
    color: white;
}
.correct {
    border: 4px solid rgb(109, 255, 47);
    background-color: rgb(45, 255, 4);
    color: white;
}
.incorrect {
    border: 4px solid rgb(247, 6, 70);
    background-color: rgb(242, 27, 80);
    color: white;
}