*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

.active {
    text-decoration: none;
    color: #efefef;
    padding: 0px 8px;
}

.active:visited {
    text-decoration: none;
    color: #efefef
}

.active .back-selection {
    text-decoration: none;
    color: #efefef;
    margin: 8px 0px;
}

.active .back-selection:visited {
    text-decoration: none;
    color: #efefef
}

.links {
    color: #efefef;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0px;
}

.copyright {
    align-self: center;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.7); 
    padding: 0;
    margin: 0px;
}

.main {
    color:#2a2a2d;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-logo {
    margin: 20px;
    width: 80%;
    max-width: 500px;
    height: auto;
}

.selection-logo {
    margin: 16px;
    width: 50%;
    max-width: 500px;
    height: auto;
}

.gamescreen-logo {
    margin: 0px;
    width: 80%;
    max-width: 500px;
    height: auto;
}

.results-logo {
    margin: 0px;
    width: 40%;
    max-width: 500px;
    height: auto;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(145deg, #041B2D, #004E9A, #428CD4, #FF9CDA, #EA4492);
    background-size: 300%;
    background-color: #428CD4;
    animation: bg-animation 30s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.footer ul {
    list-style: none;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.lets-begin, .play-game {
    background-color: #428CD4;
    border-radius: 50px;
    font-size: medium;
    font-weight: 700;
    color: #efefef;
    padding: 12px 22px 12px 22px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
}

.play-game {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

#lets-begin:visited {
    color: #efefef; 
    background-color: #173bd0;
    border-radius: 50px;
}

.back-selection:visited {
    color: #efefef;
    text-decoration: none;
    
}


.selection-wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

/* .selection {
    /* background-color: rgb(239, 239, 239, .8); */
    padding: 4px;
    border-radius: 12px;
}*/

.selection-menu-header {
    color: #041B2D;
    font-size: 1.8rem;
    margin: 16px;
}

.selection-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

label {
    padding: 4px;
    color: #041B2D;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    
}

.text-pad {
    margin-top: 8px;
    /* margin-bottom: px; */
}


.questionNum {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;

}

.category {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;

}

.difficulty {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}

select {
    font: 400 12px/1.3;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--accentFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    width: 250px;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }
  
  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }
  
  select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  }


/* 
.play-game {
    text-align: center;
    text-decoration: none;
    margin-top:80px;
}
 */


/* GAME SCREEN */
header {
    color: #efefef;
    text-decoration: none;
    /* padding-top: 20px; */
}

.gamescreen-wrapper {
    height: 100%;
    /* margin-top: 75px; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0 auto;  */

}

/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 70px auto; */

.question {
    background-color: #efefef;
    font-size: large;
    font-weight: 700;
    height: 200px;
    margin: 0 auto;
    max-width: 320px;
    border: none;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn {
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    text-align: center;
    font-size: medium;
    color: #2a2a2d;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgb(239, 239, 239, .8);
    /* opacity: 0.75; */

}

.btn-submit {
/*   
    background-color: #173bd0;
    border: none;
    border-radius: 6px;
    color: #efefef;
    margin: 16px auto 0px;
    padding: 12px 16px;
    font-size: medium;  
    text-align: center; */

    background-color: #21c36f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: medium;
    color: #efefef;
    padding-left: 23px;
    padding-right: 23px;
    padding: 13px 23px 13px 23px;
    margin: 16px auto 0px;
    text-decoration: none;
    width: 150px;
}

.btn-submit:focus {
    outline: none;
}

.selected:focus {
    outline: none;
    border: 2px solid #808080;
}

.incorrect {
    background-color: #efefef;
    color: #FF0000;
}

.result {
    color: #efefef;
    font-size: large;
    padding-top: 0px;
}

.selected {
    background-color: #808080;
    /* border: 4px solid #808080; */
    color: #efefef;
}

.correct {
    background-color: #21c36f;
    border: #21c36f;
    color: #efefef;
}
.selected.incorrect {
    color: #FF0000;
}

.btn-next {
    border: none;
    background-color: #428CD4;
    border-radius: 50px;
    font-size: medium;
    font-weight: 700;
    color: #efefef;
    padding-left: 23px;
    padding-right: 23px;
    padding: 13px 23px 13px 23px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
}

/* .btn-next:hover {
    color: rgba(255, 255, 255, .8);
} */

/* .btn-next:focus {
    background-color: #d01798;
    color: #d01798;
    outline: none;
} */


/* RESULTS */
.body-results{
    background: 	rgb(79, 141, 212);
}
.full-results{
    border-collapse: collapse;
    color: white;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
    
}
.full-results td, .full-results th {
    background-color: rgba(36, 167, 54, 0.5);     
    font-weight: 500;
    padding: 8px;
    text-align: left;
}
.full-results th {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left;
}
.wrong {
    background-color: rgb(233, 31, 176);
}
.more-results {
    background-color: #EA4492;
    border: none;
    border-radius: 50px;
    font-size: medium;
    font-weight: 700;
    color: #efefef;
    padding-left: 23px;
    padding-right: 23px;
    padding: 13px 23px 13px 23px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
}


.more-results:focus {
    outline: none;
}



.play-again:focus {
    outline: none;
}




