*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    box-sizing: border-box;
}
.white {
    color: #efefef;
}
.active {
    text-decoration: none;
    color: #efefef;
    padding: 0px 8px;
}
.active:visited {
    text-decoration: none;
    color: #efefef
}
.links {
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0px;
}
.copyright {
    align-self: center;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7); 
    padding: 0;
    margin: 0px;
}
.main {
    color:#2a2a2d;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: 'Noto Sans TC', sans-serif;;
    margin: 0 auto;
    text-align: center;
    background-color: #d01798;
}
header {
    margin: 0 auto;
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.footer ul {
    list-style: none;
}
.lets-begin, .play-game {
    background-color: #173bd0;
    border-radius: 50px;
    font-size: medium;
    color: #efefef;
    padding-left: 23px;
    padding-right: 23px;
    padding: 13px 23px 13px 23px;
    margin: 0 auto;
    text-decoration: none;
}
#lets-begin:visited {
    color: #efefef; 
}


/* Selection  */


.selection-wrapper {
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection {
    background-color: #efefef;
    margin: 0 95%;
    padding: 16px;
    border-radius: 12px;
}

.selection-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

label {
    padding: 8px;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.text-pad {
    margin-top: 8px;
    margin-bottom: px;
}


.questionNum {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
      
}

.category {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;

}

.difficulty {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}

select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--accentFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
      linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }
  
  select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  }
  
  select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
      linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
      linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
  }



.play-game {
    text-align: center;
    text-decoration: none;
    margin-top:100px;
}



/* GAME SCREEN */

.gamescreen-wrapper {
    height: 100%;
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.question {
    background-color: #efefef;
    height: 100%;
    margin: 0 95%;
    max-width: 320px;
    border: none;
    border-radius: 12px;
    padding: 30px;

}

.btn {
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 6px;
    padding: 8px;
}

.answer {
    background-color: #efefef;

}



.selected {
    border: 2px solid rgb(101, 24, 227);
    background-color: blue;
}
.correct {
    border: 2px solid greenyellow;
    background-color: lawngreen;
}
.incorrect {
    border: 2px solid darkred;
    background-color: red;}