*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

.black {
    color:#2a2a2d;
}

.active {
    text-decoration: none;
    color: #efefef
}

body {
    font-family: 'Noto Sans TC', sans-serif;;
    margin: 0 auto;
    text-align: center;
    background-color: #d01798;

}

header {
    margin: 0 auto;
    text-align: center;
}

footer {
    margin: 0 auto;
    text-align: center;

}

main {
    margin:0 auto;
    text-align: center;
}

#lets-begin {
    background-color:#173bd0;
    border-radius: 50px;
    font-size: medium;
    color: #efefef;
    padding: 18px;
    margin: 0 auto;
    text-decoration: none;
}


/* .wrapper {
    align-content: center;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 3fr 1.75fr .25fr;
} */
.play-game{
    width: 6rem;
    text-align: center;
    border: 1px solid green;
    text-decoration: none;
}

.correct {
    border: 2px solid greenyellow;
    background-color: lawngreen;
}
.incorrect {
    border: 2px solid darkred;
    background-color: red;
}