*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

.white {
    color: #efefef;
}

.active {
    text-decoration: none;
    color: #efefef;
    padding: 0px 8px;
}
.active:visited {
    text-decoration: none;
    color: #efefef
}

.links {
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0px;
}

.copyright {
    align-self: center;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7); 
    padding: 0;
    margin: 0px;
}

.main {
    color:#2a2a2d;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Noto Sans TC', sans-serif;;
    margin: 0 auto;
    text-align: center;
    background-color: #d01798;
}

header {
    margin: 0 auto;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.footer ul {
    list-style: none;

}


.lets-begin {
    background-color: #173bd0;
    border-radius: 50px;
    font-size: medium;
    color: #efefef;
    padding-left: 23px;
    padding-right: 23px;
    padding: 13px 23px 13px 23px;
    margin: 0 auto;
    text-decoration: none;
}
#lets-begin:visited {
    color: #efefef; 
}

.selection {
    background-color: #efefef;
    margin: 0 auto;
    padding: 16px;
    border-radius: 15px;
   
    
}
.selection-wrapper {
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.selection-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}






.play-game{
    width: 6rem;
    text-align: center;
    border: 1px solid green;
    text-decoration: none;
}

.selected {
    border: 2px solid rgb(101, 24, 227);
    background-color: blue;
}
.correct {
    border: 2px solid greenyellow;
    background-color: lawngreen;
}
.incorrect {
    border: 2px solid darkred;
    background-color: red;}