
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

/* OUR TEAM */

.ourteam-logo {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.creator-pic {
    border-radius: 50%;
    width: 30%;
    height: auto;
}

h1 {
    align-self: center;
}

.creators-wrapper { 
    color: #464345;
    display: grid;
    width: 100%;
    height: auto;
    background: #efefef;
    grid-template-rows: repeat (5, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.thin { font-weight: 300; }
.thick { font-weight: 900; }
.header {
    background-color: #efefef;
    margin: 0 auto;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}
.link-2 {
    color: #464345;
    display: flex;
    font-size: 36px;
    
}
.link-2 a:visited{
    color: #464345;
}
.link-2 a:hover {
    color: #5CAAEF;
}
.link-2 a:before {
    content: '';
    border-bottom: solid 1px #5CAAEF;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    opacity: 0;
}
.link-2 a:hover:before {
    opacity: 1.0;
}
.link-2 a, .link-2 a:before {
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}
h1{
    font-size: 3rem;
    grid-row: 1 / 2;
}
.shaiah{
    grid-row: 2 / 3;
}
.kevin{
    grid-row: 3/4
}
.katy{
    grid-row: 4/4;
}
.eric{
    grid-row: 5/5;
}
.footer-our-team {
    /* position: fixed; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.footer-our-team ul {
    list-style: none;
} 